@import 'https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto|Roboto+Mono:400,700';

a.navbar-brand {
  font-family: 'Roboto Mono', 'menlo', 'consolas', monospace;
  font-weight: 800;
}

pre, code, textarea {
  font-family: 'Roboto Mono', 'menlo', 'consolas', monospace;
}

pre {
  padding: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}