<div>
  <% if flash[:alert].present? %>
    <%= content_tag :div, nil, class: "alert alert-danger" do %>

      <p><%= flash[:alert] %></p>

      <%# keep the flash and errors together %>
      <% errors ||= [] %><%# optional parameter %>

      <% if errors.any? %>
        <ul>
          <% errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <% flash.to_hash.except(:alert).each do |type, message| %>
    <%= content_tag :div, message, class: "alert alert-#{type}" %>
  <% end %>
</div>